<?xml version="1.0"?>

<!--this is the main urdf.xacro file which builds actually the robot model by calling the other macros-->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="sew-maxo-mts-agv">

<!--#######################################################################################################################################-->
   <!-- import main macro -->
<!--#######################################################################################################################################-->
    <xacro:include filename="$(find sew_agv_description)/urdf/sew_agv_macro.urdf.xacro"/>


<!--#######################################################################################################################################-->
    <!-- set ros2 parameters, which will passsed to the macros, can be defined in the launch file-->
<!--#######################################################################################################################################-->
   <!-- set parameters defined in sew_agv_macro.xacro -->
    <xacro:arg name="tf_prefix" default=""/>

    <!-- ros2_control related parameters -->
    <xacro:arg name="agv_ip" default="NaN" />
    <xacro:arg name="agv_port" default="NaN" />
    <xacro:arg name="local_ip" default="NaN" />
    <xacro:arg name="local_port" default="NaN" />
    <xacro:arg name="left_wheel_name" default="sew_wheel_left_joint" />
    <xacro:arg name="right_wheel_name" default="sew_wheel_right_joint" />
    <xacro:arg name="wheel_separation" default="1.0" />
    <xacro:arg name="wheel_radius" default="0.1" />
    <xacro:arg name="generate_ros2_control_tag" default="true" />               <!--change default value ??? seems to be not passed to here-->


    <!-- simulation related parameters -->
    <xacro:arg name="use_fake_hardware" default="false" />
    <xacro:arg name="ros2_control_with_gazebo" default="false" />
    <xacro:arg name="standalone_gazebo" default="false" />

 
<!--#######################################################################################################################################-->
   <!-- call the main macro by passing above instanced parameters to build the arm -->
<!--#######################################################################################################################################-->
   
    <!--<link name="world"/>-->

    <xacro:sew_agv_macro
        tf_prefix="$(arg tf_prefix)"
        use_fake_hardware="$(arg use_fake_hardware)"
        agv_ip="$(arg agv_ip)"
        agv_port="$(arg agv_port)"
        local_ip="$(arg local_ip)"
        local_port="$(arg local_port)"
        left_wheel_name="$(arg left_wheel_name)"
        right_wheel_name="$(arg right_wheel_name)"
        wheel_separation="$(arg wheel_separation)"
        wheel_radius="$(arg wheel_radius)"
        generate_ros2_control_tag="$(arg generate_ros2_control_tag)"
        standalone_gazebo="$(arg standalone_gazebo)"
        ros2_control_with_gazebo="$(arg ros2_control_with_gazebo)"
        >
        <!--<origin xyz="0 0 0" rpy="0 0 0" />          position robot relative to the world -->
    </xacro:sew_agv_macro>


</robot>