[Unit]
Description=Setup AGV Ethernet Connection
After=network-online.target

[Service]
ExecStart=/PATH_to_script/setup_agv.sh
RemainAfterExit=yes
Restart=always
User=root

[Install]
WantedBy=multi-user.target